@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[x-cloak] {
    display: none;
}

.bg_img_body {
    background: url("../images/bodyWrapper.png") repeat scroll 50% 0 #312823;
    color: #c2b9ac;
    padding-bottom: 0px;
    width: 100%;
    float: left;
}

.bg_img_body_grad {
    background: url("../images/Wrapper.png") 50% 0 no-repeat transparent;
    padding-top: 0px;
    width: auto;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

.bg_img_cat {
    padding-top: 0px;
    min-height: 80px;
    z-index: 88;
    clear: both;
    margin-left: 0px;
    background: url("../images/cat_navbar.png") 0px 0px no-repeat transparent;
}

.bg_img_crousel {
    font-size: 1em;
    padding: 20px 0px 1px 0px;
    width: 100%;
    float: left;
    background: url("../images/crousl_bg.png") no-repeat scroll 50% 0;
}